/* 		////////////////////////////////// -subplex- /// 		*/
/* 		//  Subplex Boilerplate CSS Reset Stylesheet  // 		*/
/* 		//  version 0.2a                              // 		*/
/* 		//                                            // 		*/
/* 		//  http://subplex.com                        // 		*/
/* 		//////////////////////////////////////////////// 		*/

html {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

html,
button,
input,
select,
textarea {
    color: #111;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;	/* allows for consistent sizing through use of ems later */					
    vertical-align: baseline;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

p {
	margin: 0.5em 0 2em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-moz-selection {
    background: #ec008c;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #ec008c;
    color: #ffffff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/* 		//////////////// -subplex- /// 		*/
/* 		//      helper classes      // 		*/
/* 		////////////////////////////// 		*/

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* 		//////////////////////////// -subplex- /// 		*/
/* 		//  Media-specific styles coming soon!  // 		*/
/* 		////////////////////////////////////////// 		*/